@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
* {
  font-family: "Source Sans Pro", sans-serif;
}

.mt-m-7 {
  margin-top: -70px;
}

.custom-nav {
  position: absolute;
}
.custom-nav .navbar-brand {
  margin-right: 70px !important;
  width: 20%;
}
.custom-nav .nav-list li a {
  color: white !important;
  font-size: 20px;
  margin: 0 10px;
}

.nav-list li a {
  position: relative;
}

.nav-list li a:before {
  content: "";
  width: 0px;
  height: 3px;
  background: -webkit-gradient(linear, left bottom, right top, from(#41b782), to(#86d169));
  background: linear-gradient(to top right, #41b782, #86d169);
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 100%;
  left: 1;
}

.nav-list li:hover a:before {
  width: 80%;
}

.home-hero {
  background-image: url("../img/hero/background.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}

.home-hero-img {
  background-image: url("../img/hero/foreground.svg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.btn-signup, .btn-login {
  font-size: 19px;
  border-radius: 50px;
  padding: 7px 30px;
}

.btn-signup {
  color: black;
  background: white;
  border-color: white;
}

.home-hero-status {
  padding-top: 130px;
}

.btn-explore, .btn-learning {
  margin-top: 130px;
  padding: 15px 80px;
  border-radius: 50px;
  background: rgba(5, 37, 59, 0.21);
  border-left: 3px solid #028ebb;
  border-right: 3px solid #028ebb;
  color: white;
  font-size: 19px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn-explore:hover, .btn-learning:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: inset 0 9px 21px rgba(19, 183, 166, 0.1), 0 0 2px rgba(60, 196, 180, 0.6);
          box-shadow: inset 0 9px 21px rgba(19, 183, 166, 0.1), 0 0 2px rgba(60, 196, 180, 0.6);
  border-left-color: #02febb;
  border-right-color: #02febb;
  color: white;
}

.home-learning-path {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(21.49%, #9fffc7), color-stop(30.01%, #76e1bf), color-stop(49.1%, #0d96aa), color-stop(51.48%, #008ca7), color-stop(63.63%, #02627b), color-stop(80.31%, #052e45), color-stop(92.81%, #070d24), color-stop(99.6%, #080117));
  background: linear-gradient(0deg, #9fffc7 21.49%, #76e1bf 30.01%, #0d96aa 49.1%, #008ca7 51.48%, #02627b 63.63%, #052e45 80.31%, #070d24 92.81%, #080117 99.6%);
  height: 100vh;
  position: relative;
}
.home-learning-path .learning-path-img-1, .home-learning-path .learning-path-img-2 {
  position: absolute;
  bottom: 0;
}
.home-learning-path .learning-path-img-1 {
  z-index: 1;
}
.home-learning-path .learning-path-status {
  margin-top: 100px;
  z-index: 1;
}

.btn-learning {
  margin-top: 0px;
}

.stay-sharp {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(3.85%, #b5ffda), color-stop(13.14%, #8ce5ce), color-stop(33.95%, #23a4b1), color-stop(40.76%, #008ea7), color-stop(43.73%, #0087a0), color-stop(69.85%, #00516a), color-stop(89.38%, #003049), to(#00233c));
  background: linear-gradient(0deg, #b5ffda 3.85%, #8ce5ce 13.14%, #23a4b1 33.95%, #008ea7 40.76%, #0087a0 43.73%, #00516a 69.85%, #003049 89.38%, #00233c);
  min-height: 80vh;
  position: relative;
  z-index: 2;
  margin-top: -1px;
}

.stay-img-2, .stay-img-1, .community-img-1, .community-img-2 {
  position: absolute;
  bottom: 0;
}

.stay-img-1, .community-img-2 {
  z-index: 1;
}

.stay-sharp-status {
  z-index: 3;
}

.community {
  background: linear-gradient(1turn, #b5ffda 11.34%, #8ce5ce 20.89%, #23a4b1 42.29%, #008ea7 49.28%, #006c85 58.91%, #004c65 69.86%, #00354e 80.47%, #002841 90.49%, #00233c 99.31%);
  min-height: 85vh;
  background-attachment: scroll;
  position: relative;
  z-index: 2;
}
.community .community-img-1 {
  bottom: -15px;
}
.community .community-status {
  z-index: 3;
  margin-top: 70px;
}

.pro-section {
  background-image: url("../img/hero/bg.svg");
  min-height: 490vh;
  background-position: auto;
  background-size: cover;
  position: relative;
  z-index: 2;
}
.pro-section .learn-expert {
  padding-top: 150px;
}
.pro-section .learn-expert .learn-expert-img-1 {
  max-width: 60%;
}
.pro-section .teachers {
  margin-top: 150px;
}
.pro-section .teachers .teacher-status {
  margin-top: 120px;
}
.pro-section .teachers .teacher-status .teacher-1, .pro-section .teachers .teacher-status .teacher-2 {
  width: 30%;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
}
.pro-section .teachers .teacher-status .first {
  width: 23%;
  left: 110px;
  bottom: -25px;
  position: absolute;
}
.pro-section .teachers .teacher-status .center-img {
  width: 23%;
  right: 115px;
  bottom: -25px;
  position: absolute;
}
.pro-section .teachers .teacher-status .last-img {
  width: 23%;
  position: absolute;
  right: 118px;
  top: -30px;
}
.pro-section .contributors {
  margin: 100px 0px;
}
.pro-section .contributors .contri-status {
  margin-top: 100px;
}
.pro-section .contributors .contri-status .contri-img {
  width: 38%;
  border: 2px solid white;
  border-radius: 50%;
}
.pro-section .pro-tips {
  position: relative;
}
.pro-section .pro-tips .tips-img-1 {
  position: absolute;
  bottom: -250px;
  width: 50%;
}

.footer {
  background-image: url("../img/hero/footer.svg");
  min-height: 100vh;
  background-size: cover;
  margin-top: -35px;
  position: relative;
  z-index: 5;
  padding-top: 170px;
  padding-bottom: 10px;
}
.footer .footer-text {
  font-size: 18px;
  letter-spacing: 1px;
}
.footer .footer-list li {
  color: white;
  font-size: 18px;
  margin-bottom: 8px;
}