// ============ Home's Hero ==============
.home-hero{
    background-image: url('../img/hero/background.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.home-hero-img{
    background-image: url('../img/hero/foreground.svg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.btn-signup, .btn-login{
    font-size: 19px;
    border-radius: 50px;
    padding: 7px 30px;
}

.btn-signup{
    color: black;
    background: white;
    border-color: white;
}

.home-hero-status{
    padding-top: 130px;
}

.btn-explore, .btn-learning{
    margin-top: 130px;
    padding: 15px 80px;
    border-radius: 50px;
    background: rgba(5,37,59,.21);
    // border-color: #028ebb;
    // border-top: 2px solid rgba(3,143,188,.16);
    // border-bottom: 2px solid rgba(46,162,200,.29);
    border-left:3px solid rgb(2, 142, 187);
    border-right:3px solid rgb(2, 142, 187);
    color: white;
    font-size: 19px;
    transition: .5s;

        &:hover{
            transform: scale(1.03);
            box-shadow: inset 0 9px 21px rgb(19 183 166 / 10%), 0 0 2px rgb(60 196 180 / 60%);
            border-left-color:rgb(2, 254, 187);
            border-right-color:rgb(2, 254, 187);
            color: white
        }
}

// ============ Learning Path ==============
.home-learning-path{
    background: linear-gradient(0deg,#9fffc7 21.49%,#76e1bf 30.01%,#0d96aa 49.1%,#008ca7 51.48%,#02627b 63.63%,#052e45 80.31%,#070d24 92.81%,#080117 99.6%);
    height: 100vh;
    position: relative;

    .learning-path-img-1, .learning-path-img-2{
        position: absolute;
        bottom: 0;
    }

    .learning-path-img-1{
        z-index: 1;
    }

    .learning-path-status{
        margin-top: 100px;
        z-index: 1;
    }
}

.btn-learning{
    margin-top: 0px;
}

// ============ Stay Sharp ==============
.stay-sharp{
    background: linear-gradient(0deg,#b5ffda 3.85%,#8ce5ce 13.14%,#23a4b1 33.95%,#008ea7 40.76%,#0087a0 43.73%,#00516a 69.85%,#003049 89.38%,#00233c);
    min-height: 80vh;
    position: relative;
    z-index: 2;
    margin-top: -1px;
}

.stay-img-2, .stay-img-1, .community-img-1, .community-img-2{
    position: absolute;
    bottom: 0;
}

.stay-img-1, .community-img-2{
    z-index: 1;
}

.stay-sharp-status{
    z-index: 3;
}

// ============ Support Community ==============
.community{
    background: linear-gradient(1turn,#b5ffda 11.34%,#8ce5ce 20.89%,#23a4b1 42.29%,#008ea7 49.28%,#006c85 58.91%,#004c65 69.86%,#00354e 80.47%,#002841 90.49%,#00233c 99.31%);
    min-height: 85vh;
    background-attachment: scroll;
    position: relative;
    z-index: 2;

    .community-img-1{
        bottom: -15px;
    }

    .community-status{
        z-index: 3;
        margin-top: 70px;
    }
}

// ============ Cheat Sheet ==============
// .cheat{
//     background: linear-gradient(1turn,#b5ffda -3.63%,#8ce5ce 6.41%,#23a4b1 28.9%,#008ea7 36.25%,#0087a0 39.46%,#00516a 67.67%,#003049 88.78%,#00233c 100.25%) fixed;
//     min-height: 80vh;
//     position: relative;
//     z-index: 2;
//     margin-top: -7px;

//     .cheat-img-1, .cheat-img-4, .cheat-img-3{
//         position: absolute;
//     }

//     .cheat-img-3{
//         max-width: 32%;
//         bottom: 0;
//     }

//     .cheat-img-4{
//         z-index: 1;
//         bottom: -370px;
//     }

//     .cheat-img-2{
//         width: 45%;
//         position: absolute;
//         bottom: 15%;
//     }
// }

// ============ Pro Section ==============
.pro-section{
    background-image: url('../img/hero/bg.svg');
    min-height: 490vh;
    background-position: auto;
    background-size: cover;
    position: relative;
    z-index: 2;

    .learn-expert{
        padding-top: 150px;

        .learn-expert-img-1{
            max-width: 60%;
        }
    }

    .teachers{
        margin-top: 150px;

        .teacher-status{
            margin-top: 120px;

            .teacher-1, .teacher-2{
                width: 30%;
                border: 2px solid white;
                border-radius: 50%;
                position: relative;
            }

            .first{
                width: 23%;
                left: 110px;
                bottom: -25px;
                position: absolute;
            }

            .center-img{
                width: 23%;
                right: 115px;
                bottom: -25px;
                position: absolute;
            }

            .last-img{
                width: 23%;
                position: absolute;
                right: 118px;
                top: -30px;
            }
        }
    }

    .contributors{
        margin: 100px 0px;

        .contri-status{
            margin-top: 100px;

            .contri-img{
                width: 38%;
                border: 2px solid white;
                border-radius: 50%;
            }
        }
    }

    .pro-tips{
        position: relative;

        .tips-img-1{
            position: absolute;
            bottom: -250px;
            width: 50%;
        }
    }
}

// ============ Footer ==============
.footer{
    background-image: url('../img/hero/footer.svg');
    min-height: 100vh;
    background-size: cover;
    margin-top: -35px;
    position: relative;
    z-index: 5;
    padding-top: 170px;
    padding-bottom: 10px;

    .footer-text{
        font-size: 18px;
        letter-spacing: 1px;
    }

    .footer-list{
        li{
            color: white;
            font-size: 18px;
            margin-bottom: 8px;
        }
    }
}